body {
    margin: 0px;
    padding: 0px;
    background-color: #24292E;
    color: #ebebeb;
    font-family: 'Antipasto';
}

nav {
    width: 100vw;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    min-height: 10vh;
=======
    min-height: 20vh;
>>>>>>> b8c524cc8e1b1442b08451ba897aa42d019d7d88
=======
    min-height: 20vh;
>>>>>>> b8c524cc8e1b1442b08451ba897aa42d019d7d88
=======
    min-height: 20vh;
>>>>>>> b8c524cc8e1b1442b08451ba897aa42d019d7d88
=======
    min-height: 20vh;
>>>>>>> b8c524cc8e1b1442b08451ba897aa42d019d7d88
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

nav a {
    display: inline;
    color: #ebebeb;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    width: 100vw;
    max-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

main h1 {
    text-transform: uppercase;
    font-size: 10vw;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

footer {
    width: 100vw;
    max-height: 20vh;
    text-transform: uppercase;
    text-align: center;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.active {
    color: #e3007b;
}

.hide-midle {
    display: none;
}

.row {
    padding: 10px;
    font-size: 1.6em;
    text-align: justify;
}

@font-face {
    font-family: 'Antipasto';
    src: url(../fonts/AntipastoPro-DemiBold.otf);
}

@media (min-width: 700px) {
    nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    nav span {
        margin-left: 10px;
        margin-right: 10px;
    }
    nav a {
        color: #ebebeb;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 10px;
    }
    nav a:first-child {
        padding-left: 0px;
    }
    nav a:last-child {
        padding-left: 0px;
    }
    nav span:last-child {
        margin-left: auto;
    }
    main {
        min-height: 70vh;
    }
    .hide-midle {
        display: inline;
    }
}
